/* Define your theme modifications inside next mixin */
 @import "../halo";

 @mixin com_company_ksena-halo-ext {

.v-calendar-event.event-red {
     background-color: #f4c8c8;
     color: #fc0000;
   }

   .v-calendar-event.event-green {
     background-color: #c8f4c9;
     color: #00ff06;
   }

   .v-calendar-event.event-blue {
     background-color: #c8daf4;
     color: #0068ff;
   }
 }