<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="2.0">
    <persistence-unit name="ksena" transaction-type="RESOURCE_LOCAL">
        <class>com.company.ksena.entity.people.ClientEmployee</class>
        <class>com.company.ksena.entity.people.Employee</class>
        <class>com.company.ksena.entity.task.TaskDocument</class>
        <class>com.company.ksena.entity.point.Point</class>
        <class>com.company.ksena.entity.point.Coordinates</class>
        <class>com.company.ksena.entity.people.PasportData</class>
        <class>com.company.ksena.entity.inventory.Inventory</class>
        <class>com.company.ksena.entity.cleaning_map.CleaningPosition</class>
        <class>com.company.ksena.entity.inventory.ExpendableMaterial</class>
        <class>com.company.ksena.entity.people.MobilePhone</class>
        <class>com.company.ksena.entity.task.DayInterval</class>
        <class>com.company.ksena.entity.task.Task</class>
        <class>com.company.ksena.entity.company.Company</class>
        <class>com.company.ksena.entity.inventory.Breakage</class>
        <class>com.company.ksena.entity.company.CompanyType</class>
        <class>com.company.ksena.entity.cleaning_map.Room</class>
    </persistence-unit>
</persistence>
